:root {
    --gray-dark: #282828;
    --gray-26: #434343;
    --gray-35: #5c5c5c;
    --gray-39: #646464;
    --gray-light: #f5f5f5;
    --gray-bg: #f3f5f6;

    --blue: #00c4e5;
    --blue-dark: #00b5d3;

    --green: #04c06b;
    --green-dark: #03b163;

    --red: #ff3b3b;
    --red-dark: #ec3636;

    --text: rgb(0 0 0 / 0.87);
    --text-light: rgb(0 0 0 / 0.6);

    --text-alt: #fff;
    --text-alt-light:rgb(255 255 255 / 70%);

    --black: #000;

    --sidebar-hover: rgb(255 255 255 / 10%);
    --sidebar-active: rgb(255 255 255 / 60%); 

    
    --font-size-larger: 20px;
    --font-size-default: 16px;
    --font-size-small: 12px;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: var(--font-size);
}

.sidebar {
    position: fixed;
    padding-right: 0 1px 10px 0;
    inset: 0 auto 0 0;
    background-color: var(--gray-26);
    color: var(--text-alt-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .toggle {
        float: right;
        padding: 40px 0;
        width: 50px;
        text-align: center;
        transition: rotate .5s;
    }
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: padding .5s;
    .label {
        display: block;
        font-size: var(--font-size-small);
        padding: 0 14px;
        margin-bottom: 10px;
        user-select: none;
        width: 0;
        overflow: hidden;
        transition: width .5s;
        animation: delayed-fade-out .5s forwards;
    }
    & li {
        display: flex;
        padding: 8px 10px;
        background-color: transparent;
        transition: background-color .2s;
        white-space: nowrap;
        &:hover {
            background-color: var(--sidebar-hover);
        }
        &.active {
            background-color: var(--sidebar-active);
        }
        & i {
            width: 30px;
            margin-top: 2px; /* inline-centered to text */
            text-align: center
        }
        & a {
            cursor: pointer;
        }
        & span {
            display: block;
            padding: 0;
            width: 0;
            overflow: hidden;
            transition: all .5s;
            animation: delayed-fade-out .5s forwards;
        }
    }
}

.sidebar:hover {
    .menu {
        padding: 0 8px;
        & li {
            & span {
                width: 80px;
                padding: 0 6px;
                animation: delayed-fade .5s forwards;
                animation-direction: normal;
            }
        }
        .label {
            width: 80px;
            animation: delayed-fade .5s forwards;
            animation-direction: normal;
        }
    }
    .toggle {
        rotate: 180deg;
    }
}

@keyframes delayed-fade {
    0% {
        opacity: 0;
        translate: -10px 0;
    }
    30% {
        opacity: 0;
        translate: -7px 0;
    }
    100% {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes delayed-fade-out {
    0% {
        opacity: 1;
        translate: 0 0;
    }
    70% {
        opacity: 0;
        translate: -7px 0;
    }
    100% {
        opacity: 0;
        translate: -10px 0;
    }
}

.content {
    padding-left: 50px;
}

.header {
    padding: 16px 40px 300px 20px;
    display: flex;
    font-size: var(--font-size-larger);
    justify-content: space-between;
    align-items: center;
    background: var(--gray-dark);
    color: var(--text-alt);
    .badge {
        .badge-2 {
            background-color: var(--red);
        }
    }
}

.actions {
    list-style-type: none;
    display: flex;
    & a {
        padding: 8px;
    }
}


